/* Universal Formatting */
* {
	color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	outline: 0;
}

/* Background */
body {
	background-image: url('bg.png');
}

/* Header CSS */
header {
	float: left;
	position: fixed;
	width: 100%;
	min-height: 60%;	
	top: 20%;
	bottom: 20%;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.35);
}

/* Header's Heading */
header h2 {
	padding-top: 10%;	
	padding-left: 5%;
	font-size: 30px;
}

/* Tagline Formatting */
header p {
	padding-left: 30%;	
	font-size: 18px;
}

/* Sign in Button */
header #signin-button {
	float: right;
}

/* Sign out Button */
header #signout-button {
	float: right;
}
